:root {
    --white: #fff;
    --warm-grey: #707070;
    --light-grey: #e0e0e0;
    --nice-blue: #1c87af;
    --light-blue: #a4cfdf;
    --hover-blue:#e3f5fa;
    --greyish: #b2b2b2;
    --white-grey: #f8f8f8;
    --pink-steam: #FE2E64;
    
  }  