<div class="popup-content">
  <div class="modal-header">
    <h4 class="modal-title">Richter- & Adminlogin</h4>
   
  </div>
  <div class="modal-body">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="form-group">
        <label for="username">Benutzername:</label>
        <input type="text" id="username" formControlName="username" required />
      </div>
      <div class="form-group">
        <label for="password">Passwort:</label>
        <input type="password" id="password" formControlName="password" required />
      </div>
      <button type="submit" [disabled]="loginForm.invalid">Anmelden</button>
      <button type="button" (click)="closeLightbox()">Schließen</button>
    </form>
  </div>
</div>
